body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#chessboard {
    width: 720px; 
    height: 720px;
    position: relative;
}

.square {
    width: 90px; 
    height: 90px;
    display: inline-block; 
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #000000;
}